@page "/logout"
@using Aspire_App.Web.Services.Auth
@rendermode InteractiveServer

@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;

<div>
    <h3>Logging out...</h3>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
            await AuthenticationService.LogoutAsync();
            NavigationManager.NavigateTo("/");
        }
    }

}