@page "/404"
@rendermode InteractiveServer

<PageTitle>Page Not Found</PageTitle>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-3 fw-bold">404</h1>
      <p class="lead">Oops! The page you're looking for doesn't exist or may have been moved.</p>
      <div class="my-4">
        <a href="/" class="btn btn-primary btn-lg me-2">Go Home</a>
        <a href="javascript:history.back()" class="btn btn-outline-secondary btn-lg">Go Back</a>
      </div>
      <p class="text-muted">If you believe this is an error, please try again later or contact support.</p>
    </div>
  </div>
</div>
