@page "/admin/students"
@using Aspire_App.Web.Components.Shared
@using Aspire_App.Web.Models.Students
@using Aspire_App.Web.Services.Students
@using Library.Pagination
@attribute [Authorize]

@rendermode InteractiveServer

@attribute [StreamRendering()]
@attribute [OutputCache(Duration = 5)]

@inject IStudentApiService StudentsApi
<PageTitle>Students</PageTitle>

<h1>Students</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (_students == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (_students.Items.Count == 0)
{
    <p>
        <em>No students found.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in _students.Items)
        {
            <tr>
                <td>@student.LastName @student.FirstName</td>
                <td>@(student.DateOfBirth.ToString("dd-MM-yyyy"))</td>
            </tr>
        }
        </tbody>
    </table>

    @if (_students.TotalPages > 1)
    {
        <Pager records="_students" ChangePage="GetStudents"/>
    }
}


@code {
    private PagedList<StudentResponse>? _students;

    protected override async Task OnInitializedAsync()
    {
        await GetStudents();
    }

    protected async Task GetStudents(int page = 1)
    {
        _students = null;
        _students = await StudentsApi.GetStudentsListAsync(page);
    }

}